In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Naseem123",
    database="task"
)

In [3]:
cursor=mydb.cursor()
cursor.execute("SELECT * FROM list1")
myresult = cursor.fetchall()
for x in myresult:
    print (x)

('Samsung Galaxy M21', 14999.0, 'amazon')
('OppoA31', 12490.0, 'amazon')
('Samsung Galaxy M30', 6999.0, 'amazon')
('Samsung Galaxy M21', 14999.0, 'flipkart')
('OPPO A31', 11499.0, 'flipkart')

In [7]:
choice=input("enter your choice")

enter your choice galaxy

In [9]:
cursor.execute("SELECT * FROM list1 WHERE Name like (%s)", ('%'+choice+'%',))
result = cursor.fetchall()
#for website in result:
#print (#website)
for name,price,website in result:
    print (website)
    print(name,"-Rs",price)

amazon
Samsung Galaxy M21 -Rs 14999.0
amazon
Samsung Galaxy M30 -Rs 6999.0
flipkart
Samsung Galaxy M21 -Rs 14999.0